
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;   
  font-style: normal;
}
.logo{
    max-width: 139px;
}
nav{
    width: 71%;
    max-width:1600px;
   /* border: 1px solid red;*/
     margin: 0px auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    margin-top: 25px;
  
}
.menu{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}
nav .menu a{
    font-size: 16px;
    color: #000000;
    text-decoration: none;
    
}
.btn{
   background-color:#30b868;
   border: none;
   padding: 12px 16px;
   border-radius: 5px;
   font-size:16px;
   font-weight: 600;
   color: white;
   cursor: pointer;

}
.btn:hover{
    background-color: aqua;
}
#btn{font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    padding: 12px 16px;
    border-radius: 5px;
    

}
#btn:hover{
    background-color: aqua;
}
header{background-color: white;
    background-position:24px;
      
      margin-bottom: 16px;
    

}
#banner{
    background-image: url(/B13-A01-Knowledge-Vault/assets/hero-bg.png);
    width: 1600px;
    height: 674px;
    background-repeat: no-repeat;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    

    
}
.early-accessbtn{
    font-weight: 16px;
    color: #30b868;
    padding: 8px 12px;
    border-radius: 6px;
    border: none;
    
    

}
.banner-content{
    align-items: center;
}
.banner-container h1{
    color: #ffffff;
    font-size: 72px;
    font-weight: bold;
    display: flex;
    line-height: 1.1;
    margin: 0;

}
#not{
    color: #30b868;
}
.banner-container p{
    font-size: 18px;
    color: #ffffff;
   margin: 0;
   margin-bottom: 32px;
}
.section-heading{
    
    text-align: center;
    margin: 0px auto;
}
.section-heading h2{
    color: #;
    
   font-size: 48px;
   font-weight: bold;
   margin-bottom: 16px;
    
}
.section-heading p{
    color: #627382;
    font-size: 16px;
    margin-bottom: 44px;
    line-height: 20px;
}
.skills{
    padding: 130px;
}
.card-container{
    width: 71%;
    max-width: 1140px;
    margin: 0px auto;

}
#skills .card-container .skill-box{
   display: flex;
   gap: 24px;
}
.skill-card{
    padding: 70px;
    box-shadow: 0px 6px 40px 0px #d8d3d365;
    max-width: 322px;
    
}
.skill-card img{

    max-width: 44px;
    margin-bottom: 30px;
}
.skill-card h3{
    font-size: 24px;
    color: #001931;
    margin: 16px;
}
.skill-card p{
     color: #627382;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 21px;

}
#Solution{
     padding-top: 130px;
     
   
}
.brain-content{
   display: flex;
   
}
.brain-content{
    font-size: 16px;
    font-weight: 500;
    color: #001931;
}
#knowledge-vault{
    margin-left: 120px;
    
}

.brain-info{
    display: flex;
    
}
.brain-heading{
    margin-left: 60px;
    margin-bottom: 100px;
    margin-top: 100px;
    
    
}

#the{
    font-size: 16px;
    font-weight: 500;
    color: #30b868;
}
.brain-heading p{
    font-size: 16px;
    color: #627382;
    
}
.brain-heading h2{
font-size: 48px;
font-weight: bold;
color: #001931;
margin: 0;
}
.access-container{
    text-align: center;
    padding: 80px 40px;
    margin-top: 80px;
    background-color: #f7f6f2;
    margin: 120px 120px;
}
footer{
    background-color: #001931;
    margin-top: 80px;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    padding: 107px;
}
.footer-content{
    padding: 120px 0 30px;
}
.social-title{
    color: #ffffff;
    font-weight: 500;
    font-size: 20px;
}
.social a{
    color: whitesmoke;
}
footer hr{
    margin-bottom: 30px;
    border-color: rgba(255,255,255,0,2);
}
.subfooter{
    color: #ffffff;
    font-size: small;
    text-align: center;
    padding-bottom: 30px;
    margin: 0px;
}